/*header{
    font-size: 1.5rem;
    padding: 1rem;
}*/

body{
    background: url(./imagenes/calculadora.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: #2C7359 ;
    
}

#calc{
    opacity: 90%;
}

.cajaPrincipal{
    border: 3px solid;
    border-color:#0D0D0D;
    align-items: center;
    border-radius: 10px;
    padding-right: 5px;
    background-color: #73BFAA;
    opacity: 100%;
    margin:auto;
    margin-top: 10%;
    
}


#visor{
    width: 92%;
    border: 3px solid;
    border-radius: 10px;
    color: #0D0D0D;
    background-color:#D9D9D9;

}

button.btn{
    width: 15%;
    margin: 4px;
    border: 3px solid;
    border-color: #A6A6A6;
    background-color: #2C7359;
    transition: 0.3s;
    
}

button.btn:hover{
    background-color: #523b47;
    
}

button.Igual{
    width: 80%;
    height: 180%;
    /* margin: 4px; */
    border: 3px solid;
    border-color: #A6A6A6;
}

button.quintaFila{
    width: 20%;
    margin: 4px;
    border: 3px solid;
    border-color: #A6A6A6;
}
